{% extends 'Stechblog/base.html' %}
{% load static %}
{% block title %} 
Amazon
{% endblock %}
{% load social_media %}
{% block body %}


                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="{% url 'post' %}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                                    <li class="breadcrumb-item active">{{ title }}</li>
                                </ol>
                                
                                <span class="color-orange"><a href="{% url 'category' 'Technology' %}">Technology</a></span>
                                <h3>{{ title }}</h3> 

                                <div class="blog-meta big-meta">
                                    <small><a href="#" title="">May/23/2021</a></small>
                                    <small><a href="#" title="">By Prabhu</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="{% facebook request.build_absolute_uri %}" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="{% twitter request.build_absolute_uri %}" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->
                            {% for data in data %}
                            <div class="single-post-media">
                                <h4><a href="{{ data.6 }}" title="">{{ data.0  }}</a></h4>
                                <img src="{{ data.4 }}" alt="{{ data.0  }}"  class="img-fluid" style="width:500px;height:400px;" >
                                
                            </div><!-- end media -->
                            <div>
                                <h3><a href="{{ data.6 }}" title="">Rating : {{ data.3.split|first }}</a></h3>
                                <span class="rating">
                                
                                    {% for i in 'range(5)'  %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </span>
                                <h4><a href="{{ data.6 }}" title="">Total Reviews: {{ data.2  }}</a></h4>
                                <h1><a href="{{ data.6 }}" title="">Price : {{ data.5  }}</a></h1>
                            </div>
                            <div class="blog-content">  
                                <div class="pp">
                                    {{ data.1 }}
                                    <a href="#"> click</a>
                                </div><!-- end pp -->
                            </div><!-- end content -->

                            <hr class="invis1">


                                <hr class="invis1">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="{% static 'images/sample.jpg' %}" alt="advertising" class="img-fluid">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->


                            <hr class="invis1">

                        {% endfor %}
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
{% endblock %}