{% extends 'Stechblog/base.html' %}
{% load static %}
{% load social_share %}
{% load social_media %}
{% load hitcount_tags %}
{% block title %} 
{{ post.title}}
{% endblock %}
{% block keywords %}{{ post.title }}{% endblock %} 
{% block description %}{{ post.snippet }}{% endblock %} 
{% block author %}{{ post.author }}{% endblock %} 
{% block og:url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og:description %}{{ post.snippet }}{% endblock %} 
{% block og:title %}{{ post.title}}{% endblock %}
{% block twi:url %}{{ request.build_absolute_uri }}{% endblock %}
{% block twi:description %}{{ post.snippet }}{% endblock %} 
{% block twi:title %}{{ post.title}}{% endblock %}
{% block pub_time %}{{ post.published_date }}{% endblock %}

{% block body %}


                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="{% url 'post' %}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                                    <li class="breadcrumb-item active">{{ post.title}}</li>
                                </ol>
                                
                                <span class="color-orange"><a href="{% url 'category' post.category %}">{{ post.category }}</a></span>
                                {% if user.is_authenticated %}{% if post.author.id == user.id %}  <span class="color-orange" ><small><a href="{% url 'Update_post' post.slug %}">Edit the Post</a> - <a href="{% url 'Delete_post' post.slug %}">Delete the Post</a></small></span>{% endif %}{% endif %}
                                <h3>{{ post.title}}</h3> 

                                <div class="blog-meta big-meta">
                                    <small><a href="#" title="">{{ post.published_date|date:"d M Y"  }}</a></small>
                                    {% if post.author.profile.id %}
                                    <small><a href="{% url 'show_profile' post.author.profile.id  %}" title="">{{ post.author }}</a></small>
                                    {% else %}
                                    <small><a href="#" title="">{{ post.author }}</a></small>
                                    {% endif %}
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> {% get_hit_count for post %}</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="{% facebook request.build_absolute_uri %}" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="{% twitter request.build_absolute_uri %}" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="single-post-media">
                                {% if post.header_image %}
                                <img src="{{ post.header_image }}" alt="image of {{post.title}}"  class="img-fluid" >
                                {% elif post.image %}
                                <img src="{{ post.image.url }}" alt="image of {{post.title}}"  class="img-fluid" >
                                {% else %}
                                <img src="{% static 'upload/web_server.jpg' %}" alt="{{post.title}}" class="img-fluid" style="width:800px;height:400px;" >
                                {% endif %}
                            </div><!-- end media -->

                            <div class="blog-content">  
                                <div class="pp">
                                    {{ post.body|safe }}
                                </div><!-- end pp -->
                            </div><!-- end content -->

                            <hr class="invis1">

                            <form action="{% url 'like_post' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if user.is_authenticated %}
                                {% if post_is_liked %}
                                <button type="submit" name="post_id" value='{{ post.id }}' class="btn btn-primary btn-cm">Unlike</button>
                                {% else %}
                                <button type="submit" name="post_id" value='{{ post.id }}' class="btn btn-primary btn-cm">Like</button>
                                {% endif %}
                                <strong class="text-secondary">  {{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
                                {% else %}
                                <strong><a class="nav-link" href="{% url 'login' %}">Login</a> To Like </strong> 
                                <strong class="text-secondary"> - {{ number_of_likes }}  Like{{ number_of_likes|pluralize }}</strong>
                                {% endif %}
                            </form>
                                <hr class="invis1">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="{% static 'images/banner1.gif' %}" alt="advertising" class="img-fluid">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="invis1">

                            <div class="custombox authorbox clearfix">
                                <h4 class="small-title">About author</h4>
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                        {% if post.author.profile.header_image %}
                                     <img src="{{ post.author.profile.header_image }}" alt="image of {{post.author}}" class="img-fluid rounded-circle" >
                                        {% elif post.author.profile.image %}
                                     <img src="{{ post.author.profile.image.url }}" alt="image of {{post.author}}" class="img-fluid rounded-circle" >
                                        {% else %}
                                    <img src="{% static 'images/Blog_Person.png' %}" alt="image of {{post.author}}" class="img-fluid rounded-circle" >
                                        {% endif %}
                                    </div><!-- end col -->

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                        {% if post.author.profile.id %}
                                        <h4><a href="{% url 'show_profile' post.author.profile.id  %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></h4>
                                        <p>{{ post.author.profile.bio }}</p>
                                        {% else %}
                                        <h4>{{ post.author }}</h4>
                                           {% if user.is_authenticated and post.author == user %}
                                               <h5> <a href="{% url 'create_profile_page' %}">Create Profile</a></h5>
                                           {% else %}
                                               <h4>Waiting for the user to update his Profile<h4>
                                           {% endif %}
                                        
                                        {% endif %}
                                        <div class="topsocial">
                                    
                                            {% if post.author.profile.facebook_url %}<a href="{{ post.author.profile.facebook_url }}" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>{% endif %}
                                            {% if post.author.profile.youtube_url %}<a href="{{ post.author.profile.youtube_url }}" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>{% endif %}
                                            {% if post.author.profile.youtube_url %}<a href="{{ post.author.profile.youtube_url }}" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>{% endif %}
                                            {% if post.author.profile.twitter_url  %}<a href="{{ post.author.profile.twitter_url }}" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
                                            {% if post.author.profile.instagram_url %}<a href="{{ post.author.profile.instagram_url }}" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>{% endif %}
                                            {% if post.author.profile.youtube_url %}<a href="{{ post.author.profile.youtube_url }}" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>{% endif %}
                                        </div><!-- end social -->

                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box -->

                            <hr class="invis1">

                            
                            <div class="custombox clearfix">
                                <h3 class="small-title">{{ post.comments.count }} Comments</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="comments-list">
                                            {% if not post.comments.all %}
                                                   No Comments Yet...
                                            {% else %}
                                            {% for comment in post.comments.all %}
                                            {% if comment.approved_comment %}
                                            <div class="media">
                                                <a class="media-left reply_mob" href="#">
                                                    <img src="{% static 'images/Blog_Person.png' %}" alt="image of {{ comment.name }}" class="rounded-circle">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading user_name">{{ comment.name }} <small>{{ comment.date_added }}</small></h4>
                                                    <p>{{ comment.body }}</p>
                                                    {% if user.is_authenticated %}
                                                    <a style="color: crimson;" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span>Delete Command</a>
                                                    {% else %}
                                                    <a style="color: crimson;" href="{% url 'login' %}"><span class="glyphicon glyphicon-remove"></span>Login to Delete </a>
                                                    {% endif %}
                                                    {% if comment.replies.all %}
                                                    <h5 style="color: teal;">response:</h5>
                                                    {% for reply in comment.replies.all %}
                                                    <p><i class="fa fa-book"></i>=> {{ reply.reply_body }}</p>
                                                    {% endfor %}
                                                    {% endif %}
                                                    <form action="{% url 'article-details' post.slug %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="comment" class="form-control" value="{{ comment.id }}">
                                                        {{ formr.as_p}}
                                                        <button type="submit" class="btn btn-primary"> Reply <i class="fa fa-reply"> </i></button>
                                                    </form>
                                                    <script>
                                                        var name = "{{ comment.id }}";
                                                        document.getElementById('comment_name').value = name;
                                                    </script>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end custom-box -->

                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">Add Comment</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                       <form action="{% url 'article-details' post.slug %}" method="POST">
                                           {% csrf_token %}
                                           {{ form.as_p}}
                                    
                                           <button type="submit" class="btn btn-primary">Add Comments <i class="fa fa-ok"></i></button>
                                       </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
{% endblock %}