{% load static %}
<div class='AT-abs jhfdiuh0' id='AT-abs'>
    <div class='AT-abs-close' onclick='document.getElementById(&quot;AT-abs&quot;).style.display=&quot;none&quot;'><svg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path d='M278.6 256l68.2-68.2c6.2-6.2 6.2-16.4 0-22.6-6.2-6.2-16.4-6.2-22.6 0L256 233.4l-68.2-68.2c-6.2-6.2-16.4-6.2-22.6 0-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3l68.2 68.2-68.2 68.2c-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3 6.2 6.2 16.4 6.2 22.6 0l68.2-68.2 68.2 68.2c6.2 6.2 16.4 6.2 22.6 0 6.2-6.2 6.2-16.4 0-22.6L278.6 256z'/></svg></div>
    
    <div class='AT-abs-content'>
    
      <div class="banner-img">
        <div class="text-center">
        <script type="text/javascript" language="javascript">
          var aax_size='728x90';
          var aax_pubname = 'stech05b-21';
          var aax_src='302';
        </script>
        <script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>
      </div>
    </div>
    </div>
    
      </div>