{% load static %}

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar sticky" data-sticky="true">
        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <a href="#" title="">
                       <img src="{% static 'images/Udemy.gif' %}" alt="Advertising" class="img-fluid">
                    </a>
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->

        <div class="widget">
            <h1 class="widget-title">Best Deals from Amazon</h1>
            <div class="trend-videos">
                <div class="blog-box">
                    <div class="post-media">
                        <a href="{% url 'amazon_post' %}" title="">
                            <img src="{% static 'images/ad_computer.jpg' %}" alt="Advertising" class="img-fluid">
                            <div class="hovereffect">
                                <span class="#"></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="{% url 'amazon_post' %}" title="">We prepared the best laptop presentations for you</a></h4>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->

                <hr class="invis">

                <div class="blog-box">
                    <div class="post-media">
                        <a href="{% url 'amazon_mobiles' %}" title="">
                            <img src="{% static 'images/ad_phone.jpg' %}" alt="Advertising" class="img-fluid">
                            <div class="hovereffect">
                                <span class="#"></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="{% url 'amazon_mobiles' %}" title="">Best mobiles to buy @ amazon</a></h4>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->

                <hr class="invis">

                <div class="blog-box">
                    <div class="post-media">
                        <a href="{% url 'amazon_gift' %}" title="">
                            <img src="{% static 'images/ad_gift.jpg' %}" alt="Advertising" class="img-fluid">
                            <div class="hovereffect">
                                <span class="#"></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="{% url 'amazon_gift' %}" title="">useful tech gifts to buy on Amazon at any budget</a></h4>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end videos -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Recent Posts</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    {% for post in post_ads_post %} 
                    <a href="{% url 'article-details' post.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
                            {% if post.header_image %}
                            <img src="{{ post.header_image.url }}" alt="{{post.title}}" class="img-fluid float-left">
                            {% else %}
                            <img src="{% static 'upload/web_server.jpg' %}" alt="{{post.title}}" class="img-fluid float-left">
                            {% endif %}
                            <h5 class="mb-1">{{ post.title }}</h5>
                            <small>{{ post.created_date }}</small>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <a href="#" title="">
                        <img src="{% static 'images/gym-1.gif'%}" alt="Advertising" class="img-fluid">
                    </a>    
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->

        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <a href="#" title="">
                        <img src="{% static 'images/Flipkart-Big-Billion-Days-Sale-Banner.jpg'%}" alt="Advertising" class="img-fluid">
                    </a>
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->
        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <a href="#" title="">
                        <img src="{% static 'images/ads_amazon.gif' %}" alt="Advertising" class="img-fluid">
                    </a>
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->
    </div><!-- end sidebar -->
</div><!-- end col -->