{% load static %}

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar sticky" data-sticky="true">
        <div class="widget">
            <h2 class="widget-title">Follow Us</h2>

            <div class="row text-center">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="https://www.facebook.com/S-Tech-106398184993107" class="social-button facebook-button">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="https://twitter.com/STech75217011" class="social-button twitter-button">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="https://www.linkedin.com/in/s-tech-43696b213/" class="social-button linked-button" style="background-color: #007bb5;">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="https://www.youtube.com/channel/UC_bb2lHvIsEcgEmMufufAPA" class="social-button youtube-button">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
            <br>

            <!--<div class="#banner-spot clearfix">
                <div class="banner-img">
                    <div class="text-center">
                    <script type="text/javascript" language="javascript">
                        var aax_size='300x600';
                        var aax_pubname = 'stech05b-21';
                        var aax_src='302';
                      </script>
                      <script type="text/javascript" language="javascript" src="https://c.amazon-adsystem.com/aax2/assoc.js"></script>
                    </div>
                </div>
            </div> end banner -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Recent Posts</h2>
            <div class="">
                <div class="list-group">
                    {% for post in post_ads_post %} 
                    <a href="{% url 'article-details' post.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
                            <h5 class="mb-1">{{ post.title }}</h5>
                            <small>{{ post.published_date|date:"d M Y" }}</small>
                        </div>
                    </a>
                    <br>
                    {% endfor %}

                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <a href="#" title="">
                        <img src="{% static 'images/gym-1.gif'%}" alt="Advertising" class="img-fluid">
                    </a>    
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->


    </div><!-- end sidebar -->
</div><!-- end col -->
