{% load static %}

<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar sticky" data-sticky="true">
        <div class="widget">
            <h2 class="widget-title">Follow Us</h2>

            <div class="row text-center">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="https://www.facebook.com/S-Tech-106398184993107" class="social-button facebook-button">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="https://twitter.com/STech75217011" class="social-button twitter-button">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="https://www.linkedin.com/in/s-tech-43696b213/" class="social-button linked-button" style="background-color: #007bb5;">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="https://www.youtube.com/channel/UC_bb2lHvIsEcgEmMufufAPA" class="social-button youtube-button">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
            <br>

            <div class="#banner-spot clearfix">
                <div class="banner-img">
                    <div class="text-center">
                    <script type="text/javascript" language="javascript">
                        var aax_size='300x600';
                        var aax_pubname = 'stech05b-21';
                        var aax_src='302';
                      </script>
                      <script type="text/javascript" language="javascript" src="https://c.amazon-adsystem.com/aax2/assoc.js"></script>
                    </div>
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->

        <div class="widget">
            <h1 class="widget-title">Best Deals from Amazon</h1>
            <div class="trend-videos">
                <div class="blog-box">
                    <div class="post-media">
                        <a href="https://amzn.to/3ih6x8I" title="">
                            <img src="{% static 'images/ad_computer.jpg' %}" alt="Advertising" class="img-fluid">
                            <div class="hovereffect">
                                <span class="#"></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="https://amzn.to/3ih6x8I" title="">We prepared the best laptop presentations for you</a></h4>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->

                <hr class="invis">

                <div class="blog-box">
                    <div class="post-media">
                        <a href="https://amzn.to/3j6CRKW" title="">
                            <img src="{% static 'images/ad_phone.jpg' %}" alt="Advertising" class="img-fluid">
                            <div class="hovereffect">
                                <span class="#"></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="https://amzn.to/3j6CRKW" title="">Best mobiles to buy @ amazon</a></h4>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->

                <hr class="invis">

                <div class="blog-box">
                    <div class="post-media">
                        <a href="https://amzn.to/3xhh9Jh" title="">
                            <img src="{% static 'images/ad_gift.jpg' %}" alt="Advertising" class="img-fluid">
                            <div class="hovereffect">
                                <span class="#"></span>
                            </div><!-- end hover -->
                        </a>
                    </div><!-- end media -->
                    <div class="blog-meta">
                        <h4><a href="https://amzn.to/3xhh9Jh" title="">useful tech gifts to buy on Amazon at any budget</a></h4>
                    </div><!-- end meta -->
                </div><!-- end blog-box -->
            </div><!-- end videos -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Recent Posts</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    {% for post in post_ads_post %} 
                    <a href="{% url 'article-details' post.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
                            {% if post.header_image %}
                            <img src="{{ post.header_image }}" alt="{{post.title}}" class="img-fluid float-left">
                            {% elif post.image %}
                            <img src="{{ post.image.url }}" alt="{{post.title}}" class="img-fluid float-left">
                            {% else %}
                            <img src="{% static 'upload/web_server.jpg' %}" alt="{{post.title}}" class="img-fluid float-left">
                            {% endif %}
                            <h5 class="mb-1">{{ post.title }}</h5>
                            <small>{{ post.published_date|date:"d M Y" }}</small>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <a href="#" title="">
                        <img src="{% static 'images/gym-1.gif'%}" alt="Advertising" class="img-fluid">
                    </a>    
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->

        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <a href="https://www.amazon.in/dp/B077S5CVBQ/?ref=assoc_tag_sept19?actioncode=AINOTH066082819002X&tag=stech05b-21" target="_blank" title="">
                        <img src="{% static 'images/invesment/amaz/Amazon_Audible.jpg'%}" alt="Advertising" class="img-fluid">
                    </a>
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->
        <div class="widget">
            <div class="text-center">
                    <script type="text/javascript" language="javascript">
                        var aax_size='300x250';
                        var aax_pubname = 'stech05b-21';
                        var aax_src='302';
                      </script>
                      <script type="text/javascript" language="javascript" src="https://c.amazon-adsystem.com/aax2/assoc.js"></script>
            </div>
        </div><!-- end widget -->
    </div><!-- end sidebar -->
</div><!-- end col -->