{% load static %}
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            <div class="first-slot">
                <div class="masonry-box post-media">
                     <img src="{% static 'upload/gamer.jpg' %}" alt="Top Laptop to Buy in Amazon" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-orange"><a href="{% url 'category' 'Technology' %}" title="">Technology</a></span>
                                <h4><a target="_blank" href="https://www.amazon.in/b?_encoding=UTF8&tag=stech05b-21&linkCode=ur2&linkId=23b5bdbd81c7c63c65994f94b357003c&camp=3638&creative=24630&node=1375392031" title="">Top Gaming Laptop to Buy in 2021</a></h4>
                                <small><a target="_blank" href="https://www.amazon.in/b?_encoding=UTF8&tag=stech05b-21&linkCode=ur2&linkId=23b5bdbd81c7c63c65994f94b357003c&camp=3638&creative=24630&node=1375392031" title="">24 July, 2021</a></small>
                                <small><a target="_blank" href="https://www.amazon.in/b?_encoding=UTF8&tag=stech05b-21&linkCode=ur2&linkId=23b5bdbd81c7c63c65994f94b357003c&camp=3638&creative=24630&node=1375392031" title="">by Prabhu</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end first-side -->

            <div class="second-slot">
                <div class="masonry-box post-media">
                     <img src="{% static 'upload/mobile_10.jpg' %}" alt="Mobile phones under 10,000 RS" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-orange"><a href="{% url 'category' 'Technology' %}" title="">Technology</a></span>
                                <h4><a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=stech05b-21&linkCode=ur2&linkId=477c8c60f3425fef884c07ff8a12c28e&camp=3638&creative=24630&index=aps&keywords=mobile phone under 10,000" title="">Mobile phones under 10,000 RS ...</a></h4>
                                <small><a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=stech05b-21&linkCode=ur2&linkId=477c8c60f3425fef884c07ff8a12c28e&camp=3638&creative=24630&index=aps&keywords=mobile phone under 10,000" title="">03 July, 2017</a></small>
                                <small><a target="_blank" href="https://www.amazon.in/gp/search?ie=UTF8&tag=stech05b-21&linkCode=ur2&linkId=477c8c60f3425fef884c07ff8a12c28e&camp=3638&creative=24630&index=aps&keywords=mobile phone under 10,000" title="">by PRABHU</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                     </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end second-side -->

            <div class="last-slot">
                <div class="masonry-box post-media">
                     <img src="{% static 'upload/mobile.jpg' %}" alt="The most reliable phone to Buy!" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-orange"><a href="{% url 'category' 'Technology' %}" title="">Technology</a></span>
                                <h4><a target="_blank" href="https://www.amazon.in/s?k=best+phones&amp;i=todays-deals&amp;ref=nb_sb_noss_2&_encoding=UTF8&tag=stech05b-21&linkCode=ur2&linkId=16be840b5f25b873ade04ca79ba86b9a&camp=3638&creative=24630" title="">The most reliable phone to Buy!...</a></h4>
                                <small><a target="_blank" href="https://www.amazon.in/s?k=best+phones&amp;i=todays-deals&amp;ref=nb_sb_noss_2&_encoding=UTF8&tag=stech05b-21&linkCode=ur2&linkId=16be840b5f25b873ade04ca79ba86b9a&camp=3638&creative=24630" title="">01 July, 2017</a></small>
                                <small><a target="_blank" href="https://www.amazon.in/s?k=best+phones&amp;i=todays-deals&amp;ref=nb_sb_noss_2&_encoding=UTF8&tag=stech05b-21&linkCode=ur2&linkId=16be840b5f25b873ade04ca79ba86b9a&camp=3638&creative=24630" title="">by PRABHU</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                     </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end second-side -->
        </div><!-- end masonry -->
    </div>
</section>