<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
            
    <!-- Site Metas -->
    
    <meta name="keywords" content="{% block keywords %} {% endblock %}">
    <meta name="description" content="{% block description %} {% endblock %}">
    <meta name="author" content="{% block author %} {% endblock %}">

       {% include 'Stechblog/head.html' %}
    </head>
    <title>{% block title %}     {% endblock %}</title>
    <br>
    {% block aff %}
    
    {% endblock %}
    
<body>

    <div id="wrapper">
        {% include 'Stechblog/nav.html' %}
        
        <section class="section">

            <div class="container">
                <div class="row">
                    {% block body %}

                    {% endblock %}
                    {% include 'Stechblog/advertising.html' %}    
                </div><!-- end row -->
            </div><!-- end container -->            
        </section>
        
        {% include 'Stechblog/social_media.html' %}
        {% include 'Stechblog/footer.html' %}

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    {% include 'Stechblog/float_lft.html' %}
    {% include 'Stechblog/float_rit.html' %}
    
    <!-- Core JavaScript
    ================================================== -->
    {% include 'Stechblog/javascript.html' %}
    <!-- ================================================== -->
    {% include 'Stechblog/ads.html' %}
    <!-- ================================================== -->
</body>
</html>