<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'Stechblog/head.html' %}

    <title>{% block title %}  {% endblock %}</title>

<body>

    <div id="wrapper">
        {% include 'Stechblog/nav.html' %}

        
        <div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-envelope-open-o bg-orange"></i> {% block nav %} {% endblock %}<small class="hidden-xs-down hidden-sm-down">{% block trm %} {% endblock %} </small></h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'post' %}">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->
      
        

                    {% block body %}

                    {% endblock %}
                    

        {% include 'Stechblog/social_media.html' %}
        {% include 'Stechblog/footer.html' %}

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    {% include 'Stechblog/javascript.html' %}
    <!-- ================================================== -->
    {% include 'Stechblog/ads.html' %}
    <!-- ================================================== -->
</body>
</html>