<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'Stechblog/head.html' %}
    <title>{% block title %}     {% endblock %}</title>
    <br>
    {% block aff %}
    
    {% endblock %}
    
<body>

    <div id="wrapper">
        {% include 'Stechblog/nav.html' %}
        
        <section class="section">

            <div class="container">
                <div class="row">
                    {% block body %}

                    {% endblock %}
                    {% include 'Stechblog/social_media_mob.html' %}
                    {% include 'Stechblog/advertising.html' %}    
                </div><!-- end row -->
            </div><!-- end container -->            
        </section>
        
        {% include 'Stechblog/social_media.html' %}
        {% include 'Stechblog/footer.html' %}

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/1.7.1_jqurey.js' %}"></script>
    <script src="{% static 'js/1.8.16_jquery-ui.js' %}"></script>
    <script>
        $( function() {
          var availableTags = [
              {% for category_search in category_search %}
                  "{{category_search.name}}",
              {% endfor %}
          ];
          $( "#tags" ).autocomplete({
            source: availableTags
          });
        } );
    </script>
    <script>
        function fn1(){
            var pars_cat = document.getElementById('tags').value;
            var domain = "{{ host }}";
            document.getElementById('search_cat').action = "http://"+domain+"/category/"+pars_cat;
        }
    </script>
    <!-- ================================================== -->
    {% include 'Stechblog/ads.html' %}
    <!-- ================================================== -->
</body>
</html>