<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'Stechblog/head.html' %}
    <title>{% block title %}     {% endblock %}</title>
    <br>
    {% block aff %}
    
    {% endblock %}
    
<body>

    <div id="wrapper">
        {% include 'Stechblog/nav.html' %}
        
        <section class="section">

            <div class="container">
                <div class="row">
                    {% block body %}

                    {% endblock %}
                    {% include 'Stechblog/social_media_mob.html' %}
                    {% include 'Stechblog/advertising.html' %}    
                </div><!-- end row -->
            </div><!-- end container -->            
        </section>
        
        {% include 'Stechblog/social_media.html' %}
        {% include 'Stechblog/footer.html' %}

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    {% include 'Stechblog/javascript.html' %}
    <!-- ================================================== -->
    {% include 'Stechblog/ads.html' %}
    <!-- ================================================== -->
</body>
</html>