{% load static %}
<div id="con-pts" class="con-pts container-fluid fixed-bottom p-0" style="bottom: 10px; display: inline;">
    <div class="row no-gutters">
      <div class="col-pts col-lg-3 col-md-5 col-sm-12 ml-auto p-2">
        <div class="card-pts card text-white bg-white" role="alert" style="border:none; background: linear-gradient(217deg, rgba(7, 134, 238, 0.897), rgba(44, 1, 255,0) 70.71%),linear-gradient(127deg, rgb(1, 217, 255), rgba(107, 1, 255,0) 70.71%), linear-gradient(336deg, rgba(253, 253, 253, 0.8), rgba(0,0,255,0) 70.71%);  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.726)">
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col-10">
                <small>---</small>
               <h3 class="text-uppercase my-2" style="font-weight: 700">Start write your thoughts</h3>
             </div>
             <div class="col-2 text-right">
              <button type="button" class="close" onclick="document.getElementById('con-pts').style.display='none'">
                <span class="text-white" style="font-size: 30px" aria-hidden="true">×</span>
              </button>
            </div>
          </div>
          <p class="mb-0" style="font-size: 16px;color: #fffefc">we are here to publish.</p>
  
          <div class=" signin text-center py-3">
            <a href="#"><img src="{% static 'images/cool.jpg' %}" alt="Google sign in" style="width:12rem; height:auto"></a>
          </div>
          <div class="text-center mt-n3">
           <small class="text-uppercase" style="font-size:15.8px; color: blue;">All skill levels welcome</small>
         </div>
       </div>
     </div>
   </div>
  </div>
  </div>