{% extends 'Stechblog/base.html' %}
{% load static %}

{% block title %} 
S-Tech Blog 
{% endblock %}

{% block aff %}
    {% include 'Stechblog/Amazon_aff.html' %} 
{% endblock %}
{% block body %}

<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="page-wrapper">
        <div class="blog-top clearfix">
            <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
        </div><!-- end blog-top -->

        <div class="blog-list clearfix">
            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/web_server.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Best Open Source Web Servers</a></h4>
                    <p>It’s been a long journey since the first web server was released back in 1991. For quite a long time, Apache was the only mention-worthy webserver. Over time, however, other open-source web servers have gained traction.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small>
                    <small><a href="tech-single.html" title="">21 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/raspberry_pi.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Build Physical Projects With Python on the Raspberry Pi</a></h4>
                    <p>Python is a wonderful and powerful programming language that's easy to use (easy to read and write) and, with Raspberry Pi, lets you connect your project to the real world.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Technology</a></small>
                    <small><a href="tech-single.html" title="">21 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 4412</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/Laptop.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Brand new laptop models to buy from Amazon</a></h4>
                    <p>Windows 10 laptops and MacBooks both offer plenty of functionality; which platform you prefer is a matter of personal taste.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Development</a></small>
                    <small><a href="tech-single.html" title="">20 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 2313</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="banner-spot clearfix">
                        <div class="banner-img">
                            <img src="{% static 'upload/banner_02.jpg' %}" alt="" class="img-fluid">
                        </div><!-- end banner-img -->
                    </div><!-- end banner -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/DBMS.png' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Top Free, Cross-Platform, and Open-Source Database System</a></h4>
                    <p>Data is the most valuable and important thing in this 21′ st century. This virtual world is completely built and running with numerous amount of data. Now here comes the savior, a software that stores, organizes, and manages a large amount of information, the database management system.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Design</a></small>
                    <small><a href="tech-single.html" title="">19 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 4441</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/local_host.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">How to convert your laptop/desktop into a server and host website on it.</a></h4>
                    <p> Every website needs a ‘home’, a place where its files are accessible anytime, anywhere. That’s what hosting does. It’s a plot of internet land. If you want a website, it’ll need to be hosted somewhere.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Materials</a></small>
                    <small><a href="tech-single.html" title="">18 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 33312</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/devops.png' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Best Tools to Learn to Become a DevOps Engineer</a></h4>
                    <p>DevOps as a whole is much more than tools and software. It's about working together with various teams that have the same goal in mind, quality engineering, and the ability to continuously deliver value to end users. However, to continuously deliver value, quality processes, and engineering, you need tools and software.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small>
                    <small><a href="tech-single.html" title="">17 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 4440</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/htmlcssjs.png' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Beginner level front-end web development Roadmap </a></h4>
                    <p>Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript. Responsive Web Design is used in all types of modern web development.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Technology</a></small>
                    <small><a href="tech-single.html" title="">16 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 4412</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/python.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Cool things You can do with Python</a></h4>
                    <p>Python has taken over the developing space. In fact, it’s everywhere. Ask any coder and they’ll tell you that it’s easy to learn and it's often the right tool for the job.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Reviews</a></small>
                    <small><a href="tech-single.html" title="">15 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 44123</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/git-logo.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">What do I need to know about Git?</a></h4>
                    <p>Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Technology</a></small>
                    <small><a href="tech-single.html" title="">14 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 2214</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/SSL-Certificates.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">How To Create a Self-Signed SSL Certificate for Nginx in Ubuntu</a></h4>
                    <p>A self-signed certificate will encrypt communication between your server and any clients. However, because it is not signed by any of the trusted certificate authorities included with web browsers, users cannot use the certificate to validate the identity of your server automatically.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small>
                    <small><a href="tech-single.html" title="">13 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 3331</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->
        </div><!-- end blog-list -->
    </div><!-- end page-wrapper -->

    <hr class="invis">

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-start">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="{% url '2' %}">2</a></li>
                    
                    <li class="page-item"><a class="page-link" href="{% url '2' %}">Next➔</a></li>
                </ul>
            </nav>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end col -->
{% endblock %}