{% extends 'Stechblog/base.html' %}
{% load static %}
 
{% block body %}

<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="page-wrapper">
        <div class="blog-top clearfix">
            <h4 class="pull-left">Recent items <a href="#"><i class="fa fa-rss"></i></a></h4>
        </div><!-- end blog-top -->

        <div class="blog-list clearfix">
            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/Pythons.png' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">How to Install Python 3 on CentOS 7</a></h4>
                    <p>The CentOS 7 Linux distribution includes Python 2 by default. However, Python 2 is going to reach EOL on January 1, 2020. While some legacy applications might require access to Python 2 for various reasons, it’s vitally important to kick start new projects in Python 3.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small>
                    <small><a href="tech-single.html" title="">21 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/headphone.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Best headphones from amazon</a></h4>
                    <p>Bestsellers | Shop for popular Headphones from top brands such as Boat, JBL, Sony, Sennheiser, Bose, Noise, Leaf, Philips, Ant Audio, Blaupunkt and Skullcandy among others and featuring headphones of all kinds and shapes and functionalities; including in-ear, on-ear, over-ear, sports and wireless headphones.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Technology</a></small>
                    <small><a href="tech-single.html" title="">21 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 4412</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/Laptop.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Brand new laptop models to buy from Amazon</a></h4>
                    <p>Windows 10 laptops and MacBooks both offer plenty of functionality; which platform you prefer is a matter of personal taste.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Development</a></small>
                    <small><a href="tech-single.html" title="">20 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 2313</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="banner-spot clearfix">
                        <div class="banner-img">
                            <img src="{% static 'upload/banner_02.jpg' %}" alt="" class="img-fluid">
                        </div><!-- end banner-img -->
                    </div><!-- end banner -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/music.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Royalty-Free Music Sites to Help You Make the Perfect Video Soundtrack</a></h4>
                    <p>In video marketing, choosing the right soundtrack can be the difference between a video that grips your audience from start to finish and one that they can barely get halfway through.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Design</a></small>
                    <small><a href="tech-single.html" title="">19 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 4441</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/udemy.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Best Development Courses by Udemy</a></h4>
                    <p> we have selected the best online best Udemy courses for beginners and experts. We have also identified courses geared for intermediate and expert professionals who want upskill and advance their careers.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Materials</a></small>
                    <small><a href="tech-single.html" title="">18 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 33312</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/Web_Scraper.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Build a Web Scraper With Python</a></h4>
                    <p>Web scraping is the process of gathering information from the Internet. Even copy-pasting the lyrics of your favorite song is a form of web scraping! However, the words “web scraping” usually refer to a process that involves automation. Some websites don’t like it when automatic scrapers gather their data, while others don’t mind.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small>
                    <small><a href="tech-single.html" title="">17 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 4440</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">

            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="tech-single.html" title="">
                            <img src="{% static 'upload/Python_virtual.jpg' %}" alt="" class="img-fluid">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="tech-single.html" title="">Python Virtual Environments </a></h4>
                    <p>Python, like most other modern programming languages, has its own unique way of downloading, storing, and resolving packages (or modules). While this has its advantages, there were some interesting decisions made about package storage and resolution, which has lead to some problems—particularly with how and where packages are stored.</p>
                    <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Technology</a></small>
                    <small><a href="tech-single.html" title="">16 July, 2017</a></small>
                    <small><a href="tech-author.html" title="">by Matilda</a></small>
                    <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 4412</a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->



        </div><!-- end blog-list -->
    </div><!-- end page-wrapper -->

    <hr class="invis">

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-start">
                    <li class="page-item"><a class="page-link" href="{% url 'index' %}">← Previous</a></li>
                    <li class="page-item"><a class="page-link" href="{% url '2' %}">2</a></li>
                </ul>
            </nav>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end col -->
{% endblock %}