{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/1.7.1_jqurey.js' %}"></script>
<script src="{% static 'js/1.8.16_jquery-ui.js' %}"></script>
<script>
    $( function() {
      var availableTags = [
          {% for category_search in category_search %}
              "{{category_search.title}}",
          {% endfor %}
      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
</script>
