{% extends 'Stechblog/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %} 
{{ cats }}
{% endblock %}
{% block body %}



<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="page-wrapper">
        <div class="blog-top clearfix">
            <h3 class="pull-left">Search results !!! <a href="#"><i class="fa fa-cool"></i></a></h3>
        </div><!-- end blog-top -->
        {% if quotes %}

        {% for post in quotes %}
        <div class="blog-list clearfix">
            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media">
                        <a href="{% url 'article-details' post.slug %}" title="">
                            {% if post.header_image %}
                            <img src="{{ post.header_image }}" alt="image of {{post.title}}"  class="img-fluid" style="height:250px;" >
                            {% elif post.image %}
                            <img src="{{ post.image.url }}" alt="image of {{post.title}}"  class="img-fluid" style="height:250px;" >
                            {% else %}
                            <img src="{% static 'upload/web_server.jpg' %}" alt="image of {{post.title}}" class="img-fluid">
                            {% endif %}
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="{% url 'article-details' post.slug %}" title="">{{ post.title }}</a> </h4> 
                    <P>{{ post.snippet }}...</P>
                    <small class="firstsmall"><a class="bg-orange" href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></small>
                    <small><a href="#" title="">{{ post.published_date|date:"d M Y" }}</a></small>
                    {% if post.author.profile.id %}
                    <small><a href="{% url 'show_profile' post.author.profile.id  %}" title="">by {{ post.author }}</a></small>
                    {% else %}
                    <small><a href="#" title="">by {{ post.author }}</a></small>
                    {% endif %}
                    <small><a href="#" title=""><i class="fa fa-eye"></i> {% get_hit_count for post %}</a></small>
                    {% if user.is_authenticated %}
                       {% if post.author.id == user.id %}
                       <small><a class="bg-orange" href="{% url 'Update_post' post.slug %}">Edit </a></small>
                       <small><a class="bg-orange" href="{% url 'Delete_post' post.slug %}">Delete </a></small> 
                    {% endif %}
                    {% endif %}
                    
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">


        </div><!-- end blog-list -->
        {% endfor %}
        {% else %}
        <h1>Working on this {{ cats }} Blog !!!!</h1>
        {% endif %}
    </div><!-- end page-wrapper -->

    <hr class="invis">

</div><!-- end col -->
{% endblock %}