.AT-abs { position: fixed; bottom: 0; left: 0; width: 100%; min-height: 70px; max-height: 200px; padding: 5px 0; box-shadow: 0 -6px 18px 0 rgba(9,32,76,.1); -webkit-transition: all .1s ease-in; transition: all .1s ease-in; display: flex; align-items: center; justify-content: center; background-color: #fefefe; z-index: 20; } .AT-abs-close { width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; border-radius: 12px 0 0; position: absolute; right: 0; top: -30px; background-color: #fefefe; box-shadow: 0 -6px 18px 0 rgba(9,32,76,.08); } .AT-abs .AT-abs-close svg { width: 22px; height: 22px; fill: #000; } .AT-abs .AT-abs-content { overflow: hidden; display: block; position: relative; height: 70px; width: 100%; margin-right: 10px; margin-left: 10px; }

.sticky {
    position: sticky;
    top: 100px;
  }

  .border_line {
    width: 600px;
    height: 0.1px;
    border: 1px solid gray;
  }

  /* dropdown cats **************************************/

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.errorlist {
  color: aliceblue;
  background: #f44336;
  font-size: large;
  font-weight: bold;
}

/* container-fluid fixed-bottom ***********************/

@media all and (max-width: 767px) {
  .col-pts {
    margin:auto !important;
  }
  .con-pts {
    bottom:2px !important;
  }
  .card-pts {
    padding:10px 20px !important;
  }
}

.text-right{text-align:right!important}

.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}.card-title{margin-bottom:.75rem}

blockquote {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  border-left: 0.25rem solid #2196F3;
  padding: 1rem 1rem 1rem 2rem;
  margin-bottom: 2rem;
  overflow: auto;
  background:#eeeeee;
}