{% extends 'Stechblog/base_contact.html' %}
{% load static %}

{% block title %} 
Blog Post
{% endblock %}

{% block nav %}Edit ptofile{% endblock %}

{% block body %}
<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">
                        
                        <div class="col-lg-7">
                            <p>
                                <blockquote>    
                                    {{ user.profile.bio }}
                                </blockquote>
                              </p>
                            <br>
                            <form class="form-wrapper" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p}}
                                    
                                <button type="submit" class="btn btn-primary">Update Profile <i class="fa fa-ok"></i></button>
                            </form>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock %}