{% extends 'Stechblog/base_contact.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %} 
Blog Post
{% endblock %}

{% block nav %}Author by: {{ page_user|title }}{% endblock %}{% block trm %} Need to know about the author{% endblock %}

{% block body %}
<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">
                        
                        <div class="">
                            
                                    <div class="custombox authorbox clearfix">
                                        <h4 class="small-title">About author</h4>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                {% if page_user.profile_pic %}
                                             <img src="{{ page_user.profile_pic.url }}" alt="image of {{ page_user|title }}" class="img-fluid rounded-circle" >
                                                {% else %}
                                            <img src="{% static 'images/Blog_Person.png' %}" alt="image of {{ page_user|title }}" class="img-fluid rounded-circle" >
                                                {% endif %}
                                            </div><!-- end col -->
        
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                <h4><a href="#">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</a></h4>
                                                <p>{{ page_user.bio }}</p>
        
                                                <div class="topsocial">
                                                    
                                                    {% if page_user.facebook_url %}<a href="{{ post.author.profile.facebook_url }}" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>{% endif %}
                                                    {% if page_user.youtube_url %}<a href="{{ post.author.profile.youtube_url }}" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>{% endif %}
                                                    {% if ppage_user.youtube_url %}<a href="{{ post.author.profile.youtube_url }}" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>{% endif %}
                                                    {% if page_user.twitter_url  %}<a href="{{ post.author.profile.twitter_url }}" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
                                                    {% if page_user.instagram_url %}<a href="{{ post.author.profile.instagram_url }}" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>{% endif %}
                                                    {% if page_user.youtube_url %}<a href="{{ post.author.profile.youtube_url }}" data-toggle="tooltip" data-placement="bottom" title="Website"><i class="fa fa-link"></i></a>{% endif %}
                                                </div><!-- end social -->
        
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </div><!-- end author-box -->
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                        <hr class="invis">
                                        <div class="page-wrapper">
                                            <div class="blog-top clearfix">
                                                <h4 class="pull-left">Post created by {{ page_user|title }}<a href="#"><i class="fa fa-cool"></i></a></h4>
                                            </div><!-- end blog-top -->
                                        {% for post in posts %}
                                            {% if post.author.profile.id == page_user.id %}
                                            <div class="blog-list clearfix">
                                                <div class="blog-box row">
                                                    <div class="col-md-4">
                                                        <div class="post-media">
                                                            <a href="{% url 'article-details' post.slug %}" title="">
                                                                {% if post.header_image %}
                                                                <img src="{{ post.header_image.url }}" alt="{{ post.title }}"  class="img-fluid" style="height:250px;" >
                                                                {% else %}
                                                                <img src="{% static 'upload/web_server.jpg' %}" alt="{{ post.title }}" class="img-fluid">
                                                                {% endif %}
                                                                <div class="hovereffect"></div>
                                                            </a>
                                                        </div><!-- end media -->
                                                    </div><!-- end col -->
                                    
                                                    <div class="blog-meta big-meta col-md-8">
                                                        <h4><a href="{% url 'article-details' post.slug %}" title="">{{ post.title }}</a> </h4> 
                                                        <P>{{ post.snippet }}...</P>
                                                        <small class="firstsmall"><a class="bg-orange" href="{% url 'category' post.category %}">{{ post.category }}</a></small>
                                                        <small><a href="#" title="">{{ post.created_date|date:"D M Y"  }}</a></small>
                                                        {% if post.author.profile.id %}
                                                        <small><a href="{% url 'show_profile' post.author.profile.id  %}" title="">by {{ post.author }}</a></small>
                                                        {% else %}
                                                        <small><a href="#" title="">by {{ post.author }}</a></small>
                                                        {% endif %}
                                                        <small><a href="#" title=""><i class="fa fa-eye"></i> {% get_hit_count for post %}</a></small>
                                                        {% if user.is_authenticated %}
                                                           {% if post.author.id == user.id %}
                                                           <small><a class="bg-orange" href="{% url 'Update_post' post.slug %}">Edit </a></small>
                                                           <small><a class="bg-orange" href="{% url 'Delete_post' post.slug %}">Delete </a></small> 
                                                        {% endif %}
                                                        {% endif %}
                                                        
                                                    </div><!-- end meta -->
                                                </div><!-- end blog-box -->
                                    
                                                <hr class="invis">
                                    
                                    
                                            </div><!-- end blog-list -->
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if posts.has_other_pages %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination justify-content-start">
                                                        {% if posts.has_previous %}
                                                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><< Previous</a></li>
                                                        {% endif %}
                                                        {% for num in posts.paginator.page_range %}
                                                        {% if posts.number == num %}
                                                        <li class="page-item"><a class="page-link btn btn-info" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% if posts.has_next %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next >></a></li>
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                        {% endif %}
    <hr class="invis">
                                        </div><!-- end page-wrapper -->
                                    </div>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{% endblock %}